.bride_item.add_bride
  .add_bride__title
    Пусть все узнают вашу историю
  .add_bride__underline
  .add_bride__text
    Пришлите нам свадебные снимки, на которых вы в платье Topaza Pella, и они станут украшением этого альбома. А если к снимкам вы напишите историю, пусть самую короткую, мы поместим её на первые страницы.
  %a.add_bride__button.js_add_new_bride{href: '#'} Поделиться счастьем
