.bride_item.add_bride
  .add_bride__title
    ХОТИТЕ ПОПАСТЬ В ИСТОРИЮ?
  .add_bride__underline
  .add_bride__text
    Отправьте вашу фотографию в платье Topaza Pella, и мы разместим ее у нас на сайте.
    Дополните свою фотографию небольшой историей и вы попадете на первые страницы.
  %a.add_bride__button.js_add_new_bride{href: '#'} ПОДЕЛИТЬСЯ СЧАСТЬЕМ
