.bride_item
  .bride_item__image_container
    = image_tag bride.picture_url(:thumb)
    .bride_item__info
      .birde_item__name
        = bride.name
      .publications_index__item
      .birde_item__dress_name
        = bride.dress_name
    .bride_item__comment
      = bride.comment
