%a.js_add_new_bride{href: '#'} Добавить платье
.test_container
  dsf asfsadfsdfsadf sd
  f safasf as fas fasf
  %br
  saf asf asfasf as fas
  fas fasf asfsaf
  %br
  asf as fasf asf
  %br
  asf asf asdfasf asf
  %br
  asf asf asf asd
  %br
  asf asf asdfasf asf
  %br
  asf asf asf asd
  %br
  asf asf asdfasf asf
  %br
  asf asf asf asd
  %br
  asf asf asdfasf asf
  %br
  asf asf asf asd
  %br
  asf asf asdfasf asf
  %br
  asf asf asf asd
  %br
  asf
  %br asf asdfasf asf
  asf asf asf asd
  %br
  asf asf asdfasf asf
  %br
  asf asf asf asd
  %br
  asf
  %br asf asdfasf asf
  asf asf asf asd
  %br
  asf
  %br asf asdfasf asf
  asf asf asf asd
  %br
  asf
  %br asf asdfasf asf
  asf asf asf asd
  %br
