.confirm-wrapper
  .confirm-header
    ВПЕРЕДИ - САМОЕ ПРИЯТНОЕ!
    .confirm-header-underline
  .confirm-text
    Будем ждать вас 19 августа в 15:00 по адресу ул.Белинского, д.1
    %br
    Если ваши планы изменятся, пожалуйста, предупредите нас по телефону.

