.brides_header
  %h1.brides_header__title ЗАПИСЬ НА ПРИМЕРКУ
  .publications_index__item
  .brides_message
    Примерка проходит по адресу Белинского д. 1. Выберите для примерки лучшее время, чтобы ни о чем больше не волноваться.
.fitting_content
  .fitting_content__dress_list
    0здесь будут выведены изображения всех платьев размером 170х250 px
  .fitting_content__date_select
    .fitting_content__date_select__title
      ВЫБЕРИТЕ ДАТУ
    .fitting_content__date_select__calendar
