%a.js_to_selected_dresses{ href: '' }
  .body__histories__right__girl
    = image_tag 'тетка_для_вешалки.png'
    .body__histories__right__girl__hanger
      = image_tag 'вешалка.png'
    .body__histories__right__girl__count


:javascript
  var count = 0;
  var href;
  var arr = [];
  if (localStorage['dresses']){
    count = localStorage['dresses'].split(';').length;
    $.each(localStorage['dresses'].split(';'), function( index, value ) {
      arr.push(parseInt(value));
    })
    href = '/fittings/selected_dresses?dresses='+arr.join(',');
  } else {
    href = 'javascript:void(0);'
  }
  $('.js_to_selected_dresses').attr('href', href);
  $('.body__histories__right__girl__count').html(count);
