.body__histories__right__girl
  = image_tag 'тетка_для_вешалки.png'
  .body__histories__right__girl__hanger
    = image_tag 'вешалка.png'
  .body__histories__right__girl__count


:javascript
  var count = 0;
  if (localStorage['dresses']){
    count = localStorage['dresses'].split(';').length;
  } else {
    count = 0;
  }
  $('.body__histories__right__girl__count').html(count);