.brides_container__banner_subscribe
  %span.banner__text
    ПОДПИСЫВАЙТЕСЬ И СЛЕДИТЕ ЗА ОБНОВЛЕНИЯМИ
  %span.banner__links
    %a.banner__links__vk
      .banner__links__title
        VKONTAKTE
      .banner__links__underline
      .banner__links__address
        vk.com/topazapella
    %a.banner__links__instagram
      .banner__links__title
        INSTAGRAM
      .banner__links__underline
      .banner__links__address
        @topazapell_couture
  .clearfix
