.brides_container__banner_subscribe
  %span.banner__text
    = text_subscribe_banner
  %span.banner__links
    %a.banner__links__vk{href: 'http://vk.com/topazapella'}
      .banner__links__title
        VKONTAKTE
      .banner__links__underline
      .banner__links__address
        vk.com/topazapella
    %a.banner__links__instagram{href: 'http://instagram.com/topazapella_couture'}
      .banner__links__title
        INSTAGRAM
      .banner__links__underline
      .banner__links__address
        @topazapell_couture
  .clearfix

