- title 'Свадебный салон Topaza Pella (Топаза Пелла) - Контакты'

= javascript_include_tag '//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'

.contacts_header
  %h1.contacts_header__title TOPAZA PELLA В САНКТ-ПЕТЕРБУРГЕ
  .publications_index__item
  .brides_message
    Примерка проходит по адресу ул. Жуковского, д.22. Выберите для примерки лучшее время, чтобы ни о чем больше не волноваться.
.contacts_body
  .contacts_body_text.light_gray_block
    .contacts_item
      .contacts_item_title
        ул. Жуковского, д.22
      .contacts_item_left
        тел./fax.:
        %b (812) 272-55-84
        %iПредварительная запись

      .contacts_item_right
        Пн-Сб:
        %b 11:00 - 21:00
        %br
        Вс:
        %b 11:00 - 17:00
    .contacts_item
      .contacts_item_title
        ул. Руднева, д.22/1
      .contacts_item_left
        тел./fax.:
        %b (812) 974-38-74
        %iПредварительная запись

      .contacts_item_right
        Пн:
        %b выходной
        %br
        Вт-Сб:
        %b 12:00 - 20:00
        %br
        Вс:
        %b 12:00 - 18:00
    .contacts_body_stuff
      .contacts_body_stuff_item
        .contacts_body_stuff_item_title
          Коммерческий отдел
        .contacts_body_stuff_item_email
          kolibri@topaza-pella.ru
        .contacts_body_stuff_item_email
          marina-topaza@yandex.ru
      .contacts_body_stuff_item
        .contacts_body_stuff_item_title
          Коммерческий отдел
        .contacts_body_stuff_item_email
          tatiana-topaza@yandex.ru
      .contacts_body_stuff_item
        .contacts_body_stuff_item_title
          PR отдел
        .contacts_body_stuff_item_email
          tatiana-topaza@yandex.ru
  #contacts_body_map
.contacts_agency
  .contacts_agency_title
    ПРЕДСТАВИТЕЛЬСТВО В ДРУГИХ ГОРОДАХ
  .contacts_agency_items
    - @contacts.each_with_index do |contact, index|
      = render 'contacts/contacts_item', contact: contact, index: index
.clearfix

:javascript
  ymaps.ready(init);
  function init () {
    var myMap = new ymaps.Map('contacts_body_map', {
      center: [59.93609814, 30.35774577],
      zoom: 17
      }),
      markRudneva = new ymaps.Placemark([60.048392, 30.367005], {
        hintContent: 'ул. Руднева, д.22/1 <br/> (812) 974-38-74'
      }, {
        // Опции.
        // Необходимо указать данный тип макета.
        iconLayout: 'default#image',
        // Своё изображение иконки метки.
        iconImageHref: '/assets/mark.png',
        // Размеры метки.
        iconImageSize: [30, 42],
        // Смещение левого верхнего угла иконки относительно
        // её "ножки" (точки привязки).
        iconImageOffset: [-3, -42]
      }),
      markBelinskogo = new ymaps.Placemark([59.93609814, 30.35774577], {
        hintContent: "ул. Жуковского, д.22 <br/>(812) 272-55-84"
      }, {
        // Опции.
        // Необходимо указать данный тип макета.
        iconLayout: 'default#image',
        // Своё изображение иконки метки.
        iconImageHref: '/assets/mark.png',
        // Размеры метки.
        iconImageSize: [30, 42],
        // Смещение левого верхнего угла иконки относительно
        // её "ножки" (точки привязки).
        iconImageOffset: [-3, -42]
      });

    myMap.geoObjects.add(markRudneva);
    myMap.geoObjects.add(markBelinskogo);
    myMap.controls.add("zoomControl");
  }
