- title 'Свадебный салон Topaza Pella (Топаза Пелла) - Контакты'

= javascript_include_tag '//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'

.contacts_header
  %h1.contacts_header__title TOPAZA PELLA В САНКТ-ПЕТЕРБУРГЕ
  .publications_index__item
  .brides_message
    Примерка проходит по адресу Владимирский пр., д.19, ТЦ "Владимирсикй пассаж" 4 этаж, showroom TOPAZA PELLA. Выберите для примерки лучшее время, чтобы ни о чем больше не волноваться.
.contacts_body
  .contacts_body_text.light_gray_block
    .contacts_item
      .contacts_item_title
        Владимирский пр., д.19
      .contacts_item_left
        тел./fax.:
        %b +7(921)905-75-14
        %iПредварительная запись

      .contacts_item_right
        Пн-Сб:
        %b 11:00 - 20:00
        %br
        Вс:
        %b 11:00 - 17:00

    .contacts_body_stuff
      .contacts_body_stuff_item
        .contacts_body_stuff_item_title
          Коммерческий отдел
        .contacts_body_stuff_item_email
          kolibri@topaza-pella.ru
        .contacts_body_stuff_item_email
          marina-topaza@yandex.ru
      .contacts_body_stuff_item
        .contacts_body_stuff_item_title
          Коммерческий отдел
        .contacts_body_stuff_item_email
          tatiana-topaza@yandex.ru
      .contacts_body_stuff_item
        .contacts_body_stuff_item_title
          PR отдел
        .contacts_body_stuff_item_email
          tatiana-topaza@yandex.ru
  #contacts_body_map
.contacts_agency
  .contacts_agency_title
    ПРЕДСТАВИТЕЛЬСТВО В ДРУГИХ ГОРОДАХ
  .contacts_agency_items
    - @contacts.each_with_index do |contact, index|
      = render 'contacts/contacts_item', contact: contact, index: index
.clearfix

:javascript
  ymaps.ready(init);
  function init () {
    var myMap = new ymaps.Map('contacts_body_map', {
      center: [59.928550, 30.346860],
      zoom: 17
      }),
      markBelinskogo = new ymaps.Placemark([59.928550, 30.346860], {
        hintContent: "Владимирский пр., д.19 <br/>+7(921)905-75-14"
      }, {
        // Опции.
        // Необходимо указать данный тип макета.
        iconLayout: 'default#image',
        // Своё изображение иконки метки.
        iconImageHref: '/assets/mark.png',
        // Размеры метки.
        iconImageSize: [30, 42],
        // Смещение левого верхнего угла иконки относительно
        // её "ножки" (точки привязки).
        iconImageOffset: [-3, -42]
      });

    // myMap.geoObjects.add(markRudneva);
    myMap.geoObjects.add(markBelinskogo);
    myMap.controls.add("zoomControl");
  }
