/*-----------------new bride popup-----------------------*/
.new_bride_popup{
  width: 340px;
  margin: 50px auto 40px;
}
.new_bride_popup__title{
  font-family: 'baufra';
  color:  #13131c;
  font-size: 42px;
  line-height: 55px;
  text-align: center;
  margin-bottom: 20px;
}
.white_with_underline{
  background-color: #f5f5f7 !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #babac7 !important;
  width: 340px !important;
  margin: 17px 0;
  font-family: 'baufra' !important;
  font-size: 20px !important;
  line-height: 35px;
}
a.submit_button{
  margin: 10px auto;
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid #babac7;
  padding: 10px 0;
  color:  #babac7;
  text-decoration: none;
  font-size: 22px;
  &:hover{
    color: #8b8b9f;
    border-color: #8b8b9f;
  }
}
.new_bride_popup__error{
  color: red;
}
.bride_picture__left{

  float: left;
  a{
    background-image: image_url('brides_download.png');
    overflow: hidden;
    display: block;
    width: 127px;
    height: 171px;
    text-decoration: none;
  }
}
.bride_picture__right{
  margin-left: 137px;
  font-family: 'Open Sans';
  color:  #8b8b9f;
  font-size: 14px;
  line-height: 20px;
}
.bride_picture__input{
  display: none;
}
/*-----------------end new bride popup-----------------------*/


/*----------------- brides index page-----------------------*/
.brides_header{
  background-color:  rgba(225, 225, 234, 0.5);
  width: 100%;
  height: 175px;
  text-align: center;
  .publications_index__item{
    width: 300px;
    margin: 0 auto 10px;
  }
}
.brides_header__title{
  font-family: 'baufra';
}
.brides_message{
  margin: 0 auto;
  width: 550px;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 25px;
}

.bride_item{
  display: inline-block;
  width: 33.4%;
  margin: -1.5px -2px;
  overflow: hidden;
  cursor: pointer;
}
.bride_item__image_container{
  position: relative;
  img{
    width: 100%;
  }
}

.bride_item__image_container:after {
  content: ' ';
  height: 99.5%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bride_item__image_container:hover{
  &:after {
    opacity: 0.6;
    background-color: #000;
  }
  .bride_item__comment{
    display: block;
    position: absolute;
    top: 70%;
    z-index: 10;
    width: 90%;
    text-align: center;
  }
  .bride_item__info{
    top: 30%;
  }
}

.bride_item__info{
  position: absolute;
  top: 70%;
  z-index: 10;
  width: 100%;
  text-align: center;
}

.birde_item__name{
  font-family: 'Oldsman';
  color:  #f7f7fa;
  font-size: 37px;
  font-weight: 400;
  line-height: 35px;
}
.birde_item__dress_name{
  font-family: 'baufra';
  color:  #f7f7fa;
  font-size: 21px;
  line-height: 45px;
}
.bride_item__comment{
  left: 5%;
  height: 140px;
  font-family: 'Open Sans';
  color:  #ffffff;
  font-size: 16px;
  line-height: 25px;
  overflow: hidden;
  display: none;
}

.brides__container{
  text-align: center;
}

.brides_container__banner_subscribe{
  background: #f5f2f1 image_url('rose_brides.png') no-repeat;
  min-width: 800px;
  width: 100%;
  min-height: 250px;
  max-height: 500px;
  text-align: center;
}
.banner__text{
  vertical-align: middle;
  margin: 65px 0 20px 0;
  width: 350px;
  font-family: 'baufra';
  color:  #13131c;
  font-size: 35px;
  line-height: 40px;
  display: inline-block;
}
.banner__links{
  display: inline-block;
  margin: 65px 0 20px 0;
  vertical-align: middle;
  width: 700px;
  a{
    text-align: center;
    width: 300px;
    height: 120px;
    display: inline-block;
    text-decoration: none;
    background-color: #8b8b9f;
  }
  .banner__links__vk{
    margin-right: 7%;
  }
}
.banner__links__underline{
  width: 150px;
  background-color: #fff;
  height: 1px;
  margin: 10px auto 10px;
}
.banner__links__title{
  font-family: 'Oldsman';
  color:  #ffffff;
  font-size: 35px;
  line-height: 50px;
}
.banner__links__address{
  font-family: 'baufra';
  color:  #ffffff;
  font-size: 25px;
  line-height: 40px;
}

.add_bride{
  margin-bottom: 0.1%;
  width: 33.2%;
  margin-left: 0.01%;
  margin-right: 0.01%;
  background: image_url('gemchug.png') no-repeat;
  background-size: 100%;
  text-align: center;
  outline: 1px solid #7c7c8a;
}
.add_bride__title{
  width: 350px;
  font-family: 'baufra';
  color:  #13131c;
  font-size: 35px;
  line-height: 45px;
  margin: 140px auto 0;
}
.add_bride__underline{
  margin: 20px auto;
  width: 160px;
  height: 1px;
  background-color: #7c7c8a;
}
.add_bride__text{
  font-family: 'Open Sans';
  color:  #48485d;
  font-size: 16px;
  line-height: 25px;
  width: 370px;
  margin: 0 auto 20px;
}
.add_bride__button{
  text-decoration: none;
  font-family: 'baufra';
  color:  #7c7c8a;
  font-size: 23px;
  line-height: 50px;
  padding: 10px 20px;
  outline: 1px solid #7c7c8a;
  &:hover{
    color:  #48485d;
    outline: 1px solid  #48485d;
  }
}
/*-----------------end brides index page-----------------------*/

