.index_discounts-header {
  width: 100%;
  min-width: 800px;
  height: 150px;
  background-color: rgba(225, 225, 234, 0.5);
}

.index_discounts-header-title {
  font-family: 'baufra';
  font-size: 35px;
  width: 100%;
  min-width: 800px;
  text-align: center;
  margin-bottom: 10px;
}

.index_discounts-header-middle_line {
  background-color: #A6A5AD;
  width: 400px;
  height: 1px;
  margin: 20px auto;
}

.index_discounts-header-text {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: 'Open Sans';
}

.index_discounts-item {
  background-color: white;
  height: 435px;
  img {
    float: left;
  }
}

.index_discounts-item-right {
  margin-left: 467px;
}

.index_discounts-item-right-title {
  padding-top: 50px;
  font-family: 'Oldsman';
  color:  #48485d;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
}

.index_discounts-item-right-body {
  font-family: 'baufra';
  color:  #48485d;
  font-size: 25px;
  text-align: center;
  width: 415px;
  margin: 40px auto;
}

.index_discounts-item-right-link {
  text-align: center;
  a{
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'baufra';
    color:  #7c7c8a;
    font-size: 23.4px;
    border: 1px solid #7c7c8a;
    line-height: 50px;
    &:hover{
      color:  #13131c;
      border: 1px solid #13131c;
    }
  }
}
