/*------------------show dress -------------*/
.show_dress{
  min-width: 800px;
  width: 100%;
  //min-height: 250px;
  //max-height: 500px;
  //background-color:  #f5f2f1;
  text-align: center;
}
.show_dress__left{
  //float: left;
  //width: 467px;
  //img{
  //  vertical-align: middle;
  //}
  width: 467px;
  vertical-align: middle;
  margin: 0px 0 20px 0;
  font-size: 35px;
  line-height: 40px;
  display: inline-block;
}
.show_dress__left__title{
  font-family: 'Oldsman';
  src: url('Oldsman-No_1/Oldsman-No.1.otf');
  color:  #13131c;
  font-size: 60px;
  line-height: 55px;
  margin-top: 76px;
}
.middle_line_dress{
  background-color: #a6a5ad;
  margin: 20px auto 0;
  width: 30%;
  height: 1px;
}
.show_dress__left__body{
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 102px;

  color:  #13131c;
  font-size: 15px;
  text-align: center;
}
.show_dress__left__wrapper__dress_consist{
  width: 467px;
  vertical-align: middle;
  font-size: 35px;
  line-height: 40px;
  display: inline-block;
}
.show_dress__left__dress_consist{
  display:inline-block;
  position:relative;
}
.show_dress__left__dress_consist__title{
  display:inline-block;
  position:absolute;
  top:85px;
  left:0px;
  width: 100%;
  text-align: center;
  font-family: 'Oldsman';
  src: url('Oldsman-No_1/Oldsman-No.1-Italic.otf');
  font-size: 30px;
}
.show_dress__left__image{
  width: 468px;
  margin: 0 auto;
  line-height: 1px;
}



.show_dress__right{

  display: inline-block;
  margin: 0px 0 20px 0;
  vertical-align: middle;
  width: 800px;
  //text-align: center;
  //
  //display: inline-block;
  //margin: 65px 0 20px 0;
  //margin-left: 467px;
  //vertical-align: middle;
  //width: 932px;
  //img{
  //  text-align: center;
  //  width: 932px;
  //  height: 1331px;
  //  display: inline-block;
  //  text-decoration: none;
  //  //background-color: #8b8b9f;
  //}
}

.navigation_dress{
  height: 65px;
  border-bottom: 1px solid #bbbac2;
  border-top: 1px solid #D6D5D8;
  font-family: 'baufra_light';
  color:  #48485d;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  a{
    line-height: 65px;
    color: #48485d;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .navigation_dress__left{
    float: left;
    margin-left: 3%;
  }
  .navigation_dress__right{
    float: right;
    margin-right: 3%;
  }
}

/*------------------end show dress -------------*/
/*------------------index dress -------------*/

/*------------------end index dress -------------*/


.brides_container__banner_subscribe{
  min-width: 800px;
  width: 100%;
  min-height: 250px;
  max-height: 500px;
  background-color:  #f5f2f1;
  text-align: center;
}
.banner__text{
  vertical-align: middle;
  margin: 65px 0 20px 0;
  width: 350px;
  font-family: 'baufra_light';
  color:  #13131c;
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
  display: inline-block;
}
.banner__links{
  display: inline-block;
  margin: 65px 0 20px 0;
  vertical-align: middle;
  width: 700px;
  a{
    text-align: center;
    width: 300px;
    height: 120px;
    display: inline-block;
    text-decoration: none;
    background-color: #8b8b9f;
  }
  .banner__links__vk{
    margin-right: 7%;
  }
}