/*------------------show dress -------------*/
.show_dress{
  min-width: 800px;
  width: 100%;
  //min-height: 250px;
  //max-height: 500px;
  //background-color:  #f5f2f1;
  text-align: center;
}
.show_dress__left{
  //float: left;
  //width: 467px;
  //img{
  //  vertical-align: middle;
  //}
  width: 467px;
  vertical-align: middle;
  margin-bottom: -8px;
  font-size: 35px;
  line-height: 40px;
  float: left;
}
.show_dress__left__title{
  font-family: 'Oldsman';
  src: url('Oldsman-No_1/Oldsman-No.1.otf');
  color:  #13131c;
  font-size: 60px;
  line-height: 55px;
  margin-top: 76px;
}
.middle_line_dress{
  background-color: #a6a5ad;
  margin: 20px auto 0;
  width: 30%;
  height: 1px;
}
.show_dress__left__body{
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 102px;

  color:  #13131c;
  font-size: 15px;
  text-align: center;
}
.show_dress__left__wrapper__dress_consist{
  width: 467px;
  vertical-align: middle;
  font-size: 35px;
  line-height: 40px;
  display: inline-block;
}
.show_dress__left__dress_consist{
  display:inline-block;
  position:relative;
  margin-top: -8px;
}
.show_dress__left__dress_consist__title{
  display:inline-block;
  position:absolute;
  top:60px;
  left:40px;
  width: 80%;
  text-align: center;
  font-family: 'Oldsman';
  font-size: 40px;
}
.show_dress__left__image{
  width: 468px;
  margin: 0 auto;
  line-height: 1px;
  cursor: pointer;
}

.show_dress__right{
  margin: 0px 0 20px 470px;
  background: no-repeat fixed 100% -207px;
  background-size: 65%;
}

.navigation_dress{
  margin-top: 10px;
  height: 65px;
  border-bottom: 1px solid #bbbac2;
  border-top: 1px solid #D6D5D8;
  font-family: 'baufra';
  color:  #48485d;
  font-size: 25px;
  font-weight: bold;
  line-height: 67px;
  a{
    line-height: 65px;
    color: #48485d;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .navigation_dress__left{
    float: left;
    width: 33%;
    text-align: center;
  }
  .navigation_dress__right{
    width: 66%;
    float: right;
    text-align: center;
  }
  .navigation_dress__right__wrapper{
    padding: 0 90px;
  }
  .prev{
    float: left;
    display: inline-block;
    width: 10%;
  }
  .image {
    display: inline-block;
    width: 80%;
    img{
      width: 50px;
      height: auto;
      padding-top: 7px;
    }
  }
  .next{
    width: 8%;
    display: inline-block;
    float: right;
  }
}

/*------------------end show dress -------------*/
/*------------------index dress -------------*/

/*------------------end index dress -------------*/


.brides_container__banner_subscribe{
  min-width: 800px;
  width: 100%;
  min-height: 250px;
  max-height: 500px;
  background-color:  #f5f2f1;
  text-align: center;
}
.banner__text{
  vertical-align: middle;
  margin: 65px 0 20px 0;
  width: 350px;
  font-family: 'baufra';
  color:  #13131c;
  font-size: 35px;
  line-height: 40px;
  display: inline-block;
}
.banner__links{
  display: inline-block;
  margin: 65px 0 20px 0;
  vertical-align: middle;
  width: 700px;
  a{
    text-align: center;
    width: 300px;
    height: 120px;
    display: inline-block;
    text-decoration: none;
    background-color: #8b8b9f;
  }
  .banner__links__vk{
    margin-right: 7%;
  }
}

/*------------------------------ dresses index page ---------------------------------*/
.dress_index{
  min-width: 1024px;
  max-width: 1400px;
  margin: 3px auto -3px;
  a{
    text-decoration: none;
  }
}
.dress_item{
  display: inline-block;
  width: 33.3%;
  margin: -3px -2px;
  overflow: hidden;
  cursor: pointer;
}
.dress_items__image_container{
  position: relative;
  img{
    width: 100%;
  }
}
.dress_items__image_container:after {
  content: ' ';
  height: 99.5%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.dress_items__image_container:hover{
  .dress_item__to_fitting{
    display: block;
  }
  &:after {
    opacity: 0.6;
    background-color: #000;
  }
}
.dress_item__name{
  position: absolute;
  top: 40%;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-family: 'Oldsman';
  color:  #f7f7fa;
  font-size: 69px;
  line-height: 50px;

}
.dress_item__underline{
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 40%;
  left: 30%;
  background-color: #f7f7fa;
  height: 2px;
}
.dress_item__to_fitting{
  position: absolute;
  top: 65%;
  z-index: 10;
  width: 16%;
  left: 43%;
  height: 13%;
  display: none;
}

.dresses_info_block{
  text-align: center;
  cursor: auto;
}
.dresses_info_block__title{
  font-family: 'baufra';
  color:  #13131c;
  font-size: 35px;
  line-height: 55px;
  width: 75%;
  margin: 0 auto 7%;
}
.dresses_info_block__underline{
  width: 40%;
  margin: 0 auto 7%;
  height: 1px;
  background-color: #48485d;
}
.dresses_info_block__description{
  color: #48485d;
  margin: 0 auto 31%;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 25px;
  width: 69%;
}
.info_block__rose{
  background: image-url('rose_dresses.png') no-repeat 0 bottom;
}
.info_block__gem{
  padding-top: 4%;
  background: image-url('gemchug.png') no-repeat;
  .dresses_info_block__title{
    margin-top: 0;
  }
}
.info_block__silk{
  background: image-url('silk_dresses.png') no-repeat 0 bottom;
  background-size: 102%;
}
/*------------------------------ end dresses index page ---------------------------------*/
