/*------------ new fitting page ------------------*/
.fitting_content__dress_list{
  /*height: 248px;*/
  width: 99.74%;
  color: #fff;
  padding-left: 4px;
  text-align: center;
}

.fitting_content__checkbox__dresses{
  font-family: 'baufra_light';
  color:  #13131c;
  font-size: 25px;
  font-weight: bold;
  line-height: 65px;
  text-align: center;
}

.fitting_content__dress_list__dress{
  width: 16.4%;
  display: inline-block;
  height: 248px;
  text-align: center;
  img{
    height: 248px;
  }
//  img:hover:after{
//    position: absolute;
//    top: 0;
//    left: 0;
//    opacity: 0.6;
//    background-color: #000;
//    width: 100%;
//  }
  &:hover{
    img{
      opacity: 0.2;
    }
    .js_dress_to_remove{
      position: relative;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.fitting-content__dress_text{
  font-family: 'opensans';
  width: 780px;
  margin: 20px 3px;
  color:  #48485d;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
}

.fitting_content__date_select{
  text-align: center;
  background-color:  rgba(225, 225, 234, 0.5);
  padding-bottom: 40px;
}

.fitting_content__date_select__title{
  font-family: 'baufra_light';
  color:  #13131c;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  padding: 30px 0 20px;
}
.ui-datepicker{

  a{
    text-decoration: none;
  }

  .ui-datepicker-prev, .ui-datepicker-next{
    font-family: cursive;
    color: darkgrey;
  }

  table.ui-datepicker-calendar{
    margin: 0 auto;
  }

  .ui-datepicker-prev{
    float: left;
  }

  .ui-datepicker-next{
    float: right;
  }

  .ui-datepicker-header{
    width: 590px;
    margin: 0 auto;
    font-family: 'oldsman';
    color:  #48485d;
    font-size: 30px;
    line-height: 35px;
  }

  .ui-datepicker-year{
    font-size: 25px;
  }

  thead{
    font-family: 'Open Sans';
    color:  #48485d;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    th{
      text-align: center;
    }
  }
  tbody{
    font-family: 'oldsman';
    color:  rgba(72, 72, 93, 0.33);
    font-size: 35px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    td{
      text-align: center;
    }
    a{
      color:  #48485d;
      width: 75px;
      height: 37px;
      display: inline-block;
      &:hover{
        color:  #f5f5f7;
        background-color:  #c7aea2;
      }
    }
    a.ui-state-active{
      color:  #ae9082;
      border: 1px solid #ae9082;
    }
  }
}

.fitting-content__time_text{
  font-family: 'baufra_light';
  color:  #13131c;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin: 20px 0
}
.fitting-content__time_select{
  font-family: 'oldsman';
  color:  #48485d;
  font-size: 49.94px;
  font-weight: 400;
  line-height: 35px;
  text-align: center;
  margin-bottom: 30px;
}

.fitting-content__time_select__case{
  display: inline-block;
  border: 1px solid rgba(72, 72, 93, 0.3);
  padding: 20px 40px;
  cursor: pointer;
  &:hover{
    color:  #f5f5f7;
    background-color:  #c7aea2;
  }
}
.fitting-content__time_select__case.disabled_time{
  background-color: lightgrey;
  &:hover{
    color:  #48485d;
  }
}

.fitting-content__time_select__case.active_time{
  color:  #ae9082;
  border: 1px solid #ae9082;
}

.fitting-content__submit_block{
  position: relative;
  text-align: center;
  padding: 30px 0 40px;
  background-color:  rgba(225, 225, 234, 0.5);
}

.fitting-content__submit_block__errors{
  color: red;
}

.fitting-content__submit_block__title{
  font-family: 'baufra_light';
  color:  #13131c;
  font-size: 25px;
  line-height: 40px;
}

.fitting-content__submit_block__content{
  font-family: 'baufra_light';
  color:  #13131c;
  font-size: 25px;
  font-weight: bold;
  line-height: 40px;
  width: 880px;
  margin: 0 auto 40px;
}

.grey_with_underline{
  background-color: rgba(225, 225, 234, 0) !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #babac7 !important;
  width: 340px !important;
  margin: 17px 0;
  font-family: 'baufra_light' !important;
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 35px;
}

.fitting-content__submit_block__button{
  width: 300px;
  margin: 0 auto;
}

.fitting-content__submit_block__advice{
  position: absolute;
  top: 255px;
  right: 50px;
  background-color: #b9a299;
  width: 250px;
  height: 150px;
}
.fitting-content__submit_block__advice__title{
  font-family: 'opensans';
  color:  #ffefdd;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
}
.fitting-content__submit_block__advice__body{
  margin: 0 auto;
  font-family: 'opensans';
  color:  #ffffff;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  width: 195px;
  text-align: left;
}

.js_dress_to_remove{
  background-image: image-url('to_fitting.png');
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  margin: -147px auto 0;
  display: block;
}
/*------------ end new fitting page ------------------*/
