.body__header{
  height: 312px;
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  background: url('/assets/главная_хедер.png');
  background-size: cover;
  color: #000000;
  .body__header__text{
    margin: 0 auto;
    text-align: center;
    font-family: 'baufra';
    font-size: 38px;
    padding-top: 50px;
    .body__header__text__title{}
  }
}
.body__header__year{
  margin: 0 auto;
  text-align: center;
  font-family: 'Oldsman';
  font-size: 38px;
  margin-bottom: 10px;
}
.body__header__year__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  line-height: 25px;
  display: inline-block;
}
.body__header__middle_line{
  background-color: #000;
  width: 211px;
  height: 1px;
  margin-left: 600px;
  line-height: 25px;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

.body__dresses{
  height: 439px;
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  background-size: 100% auto;
  .body__dresses__item{
    height: 439px;
    display: inline-block;
    width: 33%;
    overflow: hidden;
    .body__dresses__item__title-top{
      font-size: 35px;
      width: 100%;
      text-align: center;
      padding-top: 90px;
      font-family: 'baufra';
    }
    .body__dresses__item__center-block{
      text-align: center;
      margin: 30px;
    }
    .body__dresses__item__title-bottom{
      font-size: 35px;
      width: 100%;
      text-align: center;
      padding-bottom: 90px;
      font-family: 'baufra';
    }
  }
}
.body__dresses__item__center-block__middle-line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin: 9px 15px;
  line-height: 25px;
  display: inline-block;
}



.body__histories{
  //height: 436px;
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  background-size: 100% auto;
  .body__histories__left{
    //height: 436px;
    display: inline-block;
    width: 33%;
    //overflow: hidden;
    float: left;
    .body__histories__left__title{
      margin: 0 auto;
      text-align: center;
    }
  }
  .body__histories__right{
    //height: 436px;
    display: inline-block;
    width: 67%;
    img {
      max-width: 100%;
    }
  }
}
.body__histories__right__girl{
  width: 126px;
  position: absolute;
  top: 21%;
  left: 87%;
  img {
    width:auto;
    max-width:100%;
    height:auto;
  }
}
.body__histories__right__girl__hanger{
  position: absolute;
  top: 45px;
  left: 25px;
  img {
    width:auto;
    max-width:100%;
    height:auto;
  }
}
.body__histories__right__girl__count{
  position: absolute;
  color: #FFF;
  font-size: 35px;
  top: 37px;
  left: 52%;
}
.body__histories__item__title__years{
  margin: 0 auto;
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px;
  font-family: 'Oldsman';
  margin-top: 52px;
}
.body__histories__item__title__years__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin: 11px;
  line-height: 25px;
  display: inline-block;
}
.body__histories__item__title__text{
  font-family: 'baufra';
  font-size: 18px;
  height: 40px;
  text-align: center;
}
.body__histories__item__title__middle_line{
  background-color: #000;
  width: 47%;
  height: 1px;
  align: center;
  /* line-height: 25px; */
  /* float: left; */
  /* display: inline-block; */
  /* text-align: center; */
  /* margin-top: 20px; */
  margin: 20px auto;
  /* padding: 0 20px; */
}
.body__histories__item__text{
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans';
  src: url("Open_Sans/OpenSans-Bold.ttf");
  font-size: 16px;
  width: 55%;
  margin-top: 40px;
}


.body__text{
  text-align: center;
  font-size: 30px;
  font-family: 'baufra';
  height: 119px;
  padding-top: 40px;
}




.body__collections{
  height: 672px;
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  background-size: 100% auto;
  .body__collections__item{
    height: 500px;
    display: inline-block;
    width: 33%;
    overflow: hidden;
  }
}
.body__collections__item__info{
  padding: 30px;
  text-align: center;
  margin-top: -685px;
  height: 500px;
}
.body__collections__item__info__bordered{
  width: 100%;
  height: 500px;
  padding-top: 230px;
}
.publications_index__item{
  width: 200px;
  margin: 10px auto 0;
  color: white;
  height: 1px;
  position: relative;
}
.body__collections__item__name{
  font-family: 'oldsman';
  color:  #f7f7fa;
  font-size: 34px;
  font-weight: bold;
  line-height: 35px;
}
.body__collections__item__dress_name{
  font-family: 'baufra';
  color:  #f7f7fa;
  font-size: 21px;
  line-height: 45px;
}
.body__collections__item__comment{
  display: none;
}




.body__discount{
  height: 179px;
  text-align: center;
  font-size: 30px;
  font-family: 'baufra';
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  overflow: hidden;
}
.body__discount__title{
  margin: 0 auto;
  text-align: center;
}
.body__discount__title__years{
  margin: 0 auto;
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'Oldsman';
}
.body__discount__title__years__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin: 11px;
  line-height: 25px;
  display: inline-block;
}
.body__discount__title__text{
  font-family: 'baufra';
  font-size: 28px;
  height: 80px;
}
.body__discount__title__middle_line{
  background-color: #000;
  width: 70%;
  height: 1px;
  margin-left: 70px;
  line-height: 25px;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.body__discount__image-left{
  position: relative;
  height: 0;
  right: 420px;
  bottom: 23px;
}
.body__discount__image-right{
  position: relative;
  height: 0;
  left: 480px;
  bottom: 300px;

}



.body__article{
  height: 437px;
  max-width: 1400px;
  min-width: 1024px;
  margin: 0 auto;
  width: 100%;
  .body__article__left{
    display: inline-block;
    width: 64%;
    height: 437px;
  }
  .body__article__right{
    display: inline-block;
    width: 33%;
    overflow: hidden;
    height: 437px;
  }
}
.body__article__right__tittle{
  padding-top: 50px;
}
.body__article__right__title__name{
  margin: 0 auto;
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px;
  font-family: 'Oldsman';
  margin-top: 52px;
}
.body__article__right__title__name__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin: 11px;
  line-height: 25px;
  display: inline-block;
}
.body__article__right__title__text{
  font-family: 'baufra';
  font-size: 18px;
  height: 40px;
  text-align: center;
}
.body__article__right__title__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin-left: 70px;
  line-height: 25px;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.body__article__right__text{
  margin: 30px auto;
  text-align: center;
  font-family: 'Open Sans';
  src: url("Open_Sans/OpenSans-Bold.ttf");
  font-size: 16px;
  width: 70%;
  clear: left;
}
