.body__header{
  height: 312px;
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  background: image-url('главная_хедер.png');
  background-size: 100% 100%;
  color: #000000;
  .body__header__text{
    margin: 0 auto;
    text-align: center;
    font-family: 'baufra';
    font-size: 38px;
    padding-top: 50px;
    .body__header__text__title{}
  }
}
.body__header__year{
  margin: 0 auto;
  text-align: center;
  font-family: 'Oldsman';
  font-size: 38px;
  margin-bottom: 10px;
}
.body__header__year__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  line-height: 25px;
  display: inline-block;
}
.body__header__middle_line{
  background-color: #000;
  width: 211px;
  height: 1px;
  margin-left: 600px;
  line-height: 25px;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

.body__dresses{
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  background-size: 100% auto;
}
.body__dresses__item{
  display: inline-block;
  width: 33.8%;
  margin: 0px -2.5px -2px -0.4px;
  overflow: hidden;
  float: left;
  position: relative;
}
.body__dresses__item__image__bridal{
  display: inline-block;
  width: 33.3%;
  margin: 0px -2.5px -2px -0.4px;
  float: left;
  position: relative;
  img {
    max-width: 100%;
  }
}
.body__dresses__item__image__bridal:after {
  content: ' ';
  height: 99.5%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.body__dresses__item__image__bridal:hover{
  &:after {
    opacity: 0.6;
    background-color: #000;
  }
  .body__dresses__item__image__bridal__count{
    display: block;
    position: absolute;
    top: 20%;
    z-index: 10;
    width: 90%;
    text-align: center;
    font-size: 180px;
    left: 4%;
    font-family: Oldsman;
    color: #FFF;
  }
  .body__dresses__item__image__bridal__text{
    display: block;
    position: absolute;
    top: 55%;
    z-index: 10;
    width: 90%;
    text-align: center;
    font-size: 57px;
    left: 5%;
    font-family: Oldsman;
    color: #FFF;
  }
}
.body__dresses__item__image__bridal__count{
  display: none;
}
.body__dresses__item__image__bridal__text{
  display: none;
}



.body__dresses__item__image__evening{
  display: inline-block;
  width: 33.3%;
  margin: 0px -2.5px -2px -0.4px;
  overflow: hidden;
  position: relative;
  float: left;
  img {
    max-width: 100%;
  }
}
.body__dresses__item__image__evening:after {
  content: ' ';
  height: 99.5%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.body__dresses__item__image__evening:hover{
  &:after {
    opacity: 0.6;
    background-color: #000;
  }
  .body__dresses__item__image__evening__count{
    display: block;
    position: absolute;
    top: 20%;
    z-index: 10;
    width: 90%;
    text-align: center;
    font-size: 180px;
    left: 4%;
    font-family: Oldsman;
    color: #FFF;
  }
  .body__dresses__item__image__evening__text{
    display: block;
    position: absolute;
    top: 55%;
    z-index: 10;
    width: 90%;
    text-align: center;
    font-size: 57px;
    left: 5%;
    font-family: Oldsman;
    color: #FFF;
  }

}
.body__dresses__item__image__evening__count{
  display: none;
}
.body__dresses__item__image__evening__text{
  display: none;
}

.body__dresses__item__evening{
  font-size: 35px;
  width: 100%;
  text-align: center;
  font-family: 'baufra';
  height: 50%;
  overflow: hidden;
  a{
    text-decoration: none;
    color: #000000;
    &:hover{
      color: #ad9082;
    }
  }
}
.body__dresses__item__bridal__wrapper{
  margin-top: 35%;
}
.body__dresses__item__bridal{
  font-size: 35px;
  width: 100%;
  text-align: center;
  font-family: 'baufra';
  height: 50%;
  overflow: hidden;
  a{
    text-decoration: none;
    color: #000000;
    &:hover{
      color: #ad9082;
    }
  }
}
.body__dresses__item__title{
  font-size: 35px;
  text-align: center;
  font-family: 'baufra';
  margin: 0 auto;
  width: 70%;
}
.body__dresses__item__title-top{
  font-size: 35px;
  width: 100%;
  text-align: center;
  padding-top: 90px;
  font-family: 'baufra';
}
.body__dresses__item__center-block{
  text-align: center;
  margin: 30px;
}
.body__dresses__item__title-bottom{
  font-size: 35px;
  width: 100%;
  text-align: center;
  padding-bottom: 90px;
  font-family: 'baufra';
}

.body__dresses__item__center-block__middle-line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin: 9px 15px;
  line-height: 25px;
  display: inline-block;
}

.body__histories{
  width: 100%;
  min-width: 1024px;
  max-width: 1400px;
  background-size: 100% auto;
  overflow: hidden;
  margin: -1px auto 0;
  .body__histories__left{
    display: inline-block;
    width: 33.25%;
    float: left;
    .body__histories__left__title{
      margin: 0 auto;
      text-align: center;
    }
  }
  .body__histories__right{
    display: inline-block;
    width: 66.75%;
    margin: -1.5px 0px;
    img {
      width: 100%;
    }
  }
}
.body__histories__right__girl{
  width: 126px;
  position: fixed;
  top: 288px;
  right: 20px;
  z-index: 1000;
  img {
    width:auto;
    max-width:100%;
    height:auto;
  }
}
.body__histories__right__girl__hanger{
  position: absolute;
  top: 45px;
  left: 25px;
  img {
    width:auto;
    max-width:100%;
    height:auto;
  }
}
.body__histories__right__girl__count{
  position: absolute;
  color: #FFF;
  font-size: 35px;
  top: 37px;
  left: 52%;
}
.body__histories__item__title__years{
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  margin-bottom: 20px;
  font-family: 'Oldsman';
  margin-top: 52px;
}
.body__histories__item__title__years__middle_line{
  background-color: #9A9A9A;
  width: 70px;
  height: 1px;
  margin: 11px;
  line-height: 25px;
  display: inline-block;
}
.body__histories__item__title__text{
  font-family: 'baufra';
  font-size: 35px;
  height: 40px;
  text-align: center;
}
.body__histories__item__title__middle_line{
  background-color: #7C7C8A;
  width: 224px;
  height: 1px;
  align: center;
  margin: 25px auto 10px;
}
.body__histories__item__text{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  width: 75%;
  margin: 88px auto 0;
}


.body__text{
  text-align: center;
  font-size: 30px;
  font-family: 'baufra';
  height: 119px;
  padding-top: 40px;
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
}

.body__collections{
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  background-size: 100% auto;
}


.body__collections__item{
  display: inline-block;
  width: 33.4%;
  margin: -1.5px -2px;
  overflow: hidden;
  cursor: pointer;
}
.body__collections__items__image_container{
  position: relative;
  img{
    width: 100%;
  }
}
.body__collections__items__image_container:after {
  content: ' ';
  height: 99.5%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.body__collections__items__image_container:hover{
  .dress_item__to_fitting{
    display: block;
  }
  &:after {
    opacity: 0.6;
    background-color: #000;
  }
}
.body__collections__item__name{
  position: absolute;
  top: 42.5%;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-family: 'Oldsman';
  color:  #f7f7fa;
  font-size: 82px;
  font-weight: 400;
  line-height: 35px;

}
.body__collections__item__underline{
  position: absolute;
  top: 52.5%;
  z-index: 10;
  width: 40%;
  left: 30%;
  background-color: #f7f7fa;
  height: 1px;
}
.body__collections__item__to_fitting{
  position: absolute;
  top: 55%;
  z-index: 10;
  width: 70%;
  left: 15%;
  height: 13%;
  font-size: 22px;
  font-family: baufra;
  color: #FFF;
  text-align: center;
}

.main_page__body__discount{
  height: 246px;
  text-align: center;
  font-size: 30px;
  font-family: 'baufra';
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
  overflow: hidden;
  position: relative;
  background-color: #f1edea;
  margin-top: -4px;
  margin-left: -2px;
}
.main_page__body__discount__text{
  margin: 0 auto;
  text-align: center;
  position: absolute;
  left: 30%;
  width: 40%;
  z-index: 1;
}
.main_page__body__discount__text__title{
  margin: 21px auto;
  text-align: center;
  font-size: 35px;
  font-family: 'Oldsman';
}
.main_page__body__discount__text__title__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin: 11px;
  line-height: 25px;
  display: inline-block;
}
.main_page__body__discount__text__body{
  font-family: 'baufra';
  font-size: 34px;
  width: 618px;
  margin: 0 auto 12px;
}
.main_page__body__discount__text__middle_line{
  background-color: #000;
  width: 70%;
  height: 1px;
  margin-left: 70px;
  line-height: 25px;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.main_page__body__discount__image-left{
  position: absolute;
  height: auto;
  left: -464px;
  width: 100%;
  top: 15px;
  img{
    max-width: 100%;
  }
}
.main_page__body__discount__image-right{
  position: absolute;
  height: auto;
  right: -487px;
  top: -100px;
  width: 100%;
  img{
    max-width: 100%;
  }
}
.main_page__index_discounts-item-right-link {
  text-align: center;
  a{
    padding: 12px 17px;
    text-decoration: none;
    font-family: 'baufra';
    color:  #7c7c8a;
    font-size: 19.4px;
    border: 1px solid #7c7c8a;
    line-height: 50px;
    &:hover{
      color:  #13131c;
      border: 1px solid #13131c;
    }
  }
}

.body__article{
  max-width: 1400px;
  min-width: 1024px;
  margin: -2px auto;
  width: 100%;
  overflow: hidden;
  .body__article__left{
    display: inline-block;
    width: 66%;
    float: left;
    margin-left: 20px;
    img{
      max-width: 100%;
    }
  }
  .body__article__right{
    display: inline-block;
    width: 32%;
    overflow: hidden;
  }
}
.body__article__right__tittle{
  padding-top: 50px;
}
.body__article__right__title__name{
  margin: 0 auto;
  text-align: center;
  font-size: 19px;
  margin-bottom: 10px;
  font-family: 'Oldsman';
  margin-top: 52px;
}
.body__article__right__title__name__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin: 7px;
  line-height: 25px;
  display: inline-block;
}
.body__article__right__title__text{
  font-family: 'baufra';
  font-size: 29px;
  text-align: center;
  width: 281px;
  color: #000;
  margin: 25px auto 20px;
}
.body__article__right__title__middle_line{
  background-color: #000;
  width: 70px;
  height: 1px;
  margin-left: 70px;
  line-height: 25px;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
.body__article__right__text{
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  width: 70%;
  color: #7C7C8A;
}

.home__brides{
  background-color: #f7f6fb;
  line-height: 119px;
  padding-top: 0;
  margin-top: -4px;
}
.topaza_main_slogan{
  background-color: #f7f6fb;
  margin-top: -4px;
}
.home__brides__container{
  background-color: #E1E1EA;
}
.dresses_categories{
  background-color: #f7f6fb;
}
