.pagination{
  .previous_page{
    float: left;
    padding-left: 40px;
    line-height: 65px;
  }
  span.previous_page.disabled{
    float: left;
    height: 65px;
  }
  .next_page{
    float: right;
    padding-right: 40px;
    line-height: 65px;
  }
  span.next_page.disabled{
    float: right;
    height: 65px;
    padding-top: 15px;
  }
  em{
    font-style: initial;
    padding: 0 10px;
  }
  a{
    padding: 0 10px;
  }
}
