.pagination{
  .previous_page{
    float: left;
  }
  span.previous_page.disabled{
    float: left;
    height: 65px;
    padding-top: 15px;
  }
  .next_page{
    float: right;
  }
  span.next_page.disabled{
    float: right;
    height: 65px;
    padding-top: 15px;
  }
}