/*------------------show publication -------------*/
.show_publication{
  max-width: 1400px;
  min-width: 800px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  a{
    text-decoration: none;
  }
}

.show_publication__left{
  float: left;
  width: 467px;
  img{
    vertical-align: middle;
  }
}

.show_publication__right{
  margin-left: 467px;
  text-align: center;
}

.show_publication__right__date{
  padding-top: 20px;
  font-family: 'Oldsman';
  color:  #48485d;
  font-size: 25px;
  line-height: 35px;
}

.middle_line{
  background-color: #a6a5ad;
  width: 70px;
  height: 1px;
  margin: 9px 15px;
  line-height: 25px;
  display: inline-block;
}

.show_publication__right__title{
  font-family: 'baufra';
  color:  #13131c;
  font-size: 42px;
  line-height: 55px;
  margin-top: 20px;
  width: 90%;
  padding: 0 5%;
}
.publication_underline{
  background-color: #a6a5ad;
  width: 300px;
  height: 1px;
  margin: 20px auto;
}
.show_publication__right__body{
  margin: 50px 5%;
  text-align: left;
  font-family: 'Open Sans';
  color: #808080;
}
.navigation_publication{
  height: 65px;
  border-bottom: 1px solid #bbbac2;
  border-top: 1px solid #D6D5D8;
  font-family: 'baufra';
  color:  #48485d;
  font-size: 25px;
  line-height: 40px;
  a{
    line-height: 65px;
    color: #48485d;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  .navigation_publication__left{
    float: left;
    margin-left: 5%;
    width: 30%;
    height: 65px;
    line-height: 65px;
  }
  .navigation_publication__right{
    margin-left: 30%;
    width: 70%;
    height: 65px;
    line-height: 65px;
    .navigation_publication__right__wrapper{
      width: 100%;
      height: 65px;
    }
    .navigation_publication__right__wrapper__prev{
      float: left;
      /* margin-left: 3%; */
      width: 30%;
      height: 65px;
    }
    .navigation_publication__right__wrapper__next{
      margin-left: 66%;
      /* width: 70%; */
      height: 65px;
    }
  }
}
/*------------------end show publication -------------*/
/*------------------index publication -------------*/
.publications_index{
  text-align: center;
  max-width: 1400px;
  min-width: 1024px;
  margin: 0 auto;
}
.publications__title{
  font-family: 'baufra';
  color:  #13131c;
  background-color: rgba(225, 225, 234, 0.5);
  padding-bottom: 20px;
  text-align: center;
  h1{
    font-weight: bold;
  }
}


.publications_index__banner{
  width: 100%;
  height: 100px;
  background-color: yellowgreen;
}

.publications_index__item{
  border-bottom: 1px solid #dddce4;
}

.show_publication_item{
  height: 435px;
  border-bottom: 1px solid #dddce4;
}
/*------------------end index publication -------------*/


