
<div class='fitting_content__dress_list__dress js_dress'>
  <a href={{this.id}}>
    <img src={{this.image_src}} style='height: 248px;'>
  </a>
  <div class='fitting_content__dress_list__dress_to_remove'>
    <a class='js_dress_to_remove' href='#' data-id={{this.id}}>
    </a>
  </div>
</div>
