/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fonts
 *= require_tree ./css_folders
 */
$min-width: 800px;
html,body,div,span,h1,h2,h3,h4,b,u,i,s,em,form,fieldset,label,legend,input,button,textarea,a,p,table,caption,tbody,thead,tr,th,td, ul, li, ol{margin:0;padding:0;outline:none;}
table {border-collapse:collapse;border-spacing:0; font-size:inherit;font:100%;}
fieldset,img {border:0;}
caption,th,td{text-align:left; padding: 0 10px; }
/*ul,ol{list-style: none}*/
input,button,textarea,select,th,optgroup,option {font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
/* global styles */
html, body {height:100%; color: #58595b;}
a, .jslink{color: blue}
a:hover, .jslink:hover{color: #F15A2A}
.jslink{text-decoration: underline; cursor: pointer}
.jslink:hover{text-decoration: none}
body{font: 13px Helvetica,sans-serif;background: #fff}
a{cursor: pointer}
.clearfix{
  clear: both;
}

h1 {font-size: 26px;}
h2 {font-size: 21px;}
h3 {font-size: 19px;}
h4 {font-size: 17px;}
h1, h2, h3, .normal {font-weight: normal;color: #333132;margin: 0 0 0.35em;line-height: 1em;}

#root_page{
  font-family: 'Oldsman';
}
html, body {
  height: 100%;
  min-width: 1024px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
}
.main_container{
  position: relative;
  min-height:100%;
}
.main_content{
  padding-bottom: 330px;
}
/*--------------HEADER-----------------*/
.header{
  width: 100%;
  min-width: 800px;
  min-height: 207px;
  background-color: rgba(225, 225, 234, 0.5);
  color: #8b8b9f;
  a{
    line-height: 50px;
    color: #8b8b9f;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      background-color: rgba(225, 225, 234, 0);
      color: #8b8b9f;
    }
  }
}
.header_store_image{
  float: left;
  margin-right: 5px;
  margin-top: 2px;
}
.header_store_text{
}
.header_record_image{
  float: left;
  margin-right: 5px;
  margin-top: 7px;
  display: inline-block;
}
.header_record_text{
  display: inline-block;
}
.header_container{
  max-width: 1200px;
  margin: 0 auto;
}
.header_container__title{
  width: 300px;
  height: 88px;
  margin: 0 auto;
  font-family: 'Oldsman';
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  line-height: 70px;
}
.header_link{
  font-family: 'baufra';
  font-size: 14px;
  line-height: 50px;
  width: 178px;
  height: 11px;
  margin-top: 25px;
}
.header_container_wrapper{
  width: 100%;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1400px;
}
.header_container__shop_link{
  float: left;
  text-align: left;
}
.header_container__fitting{
  float: right;
  width: 193px;
}
.header_container__menu{
  margin-top: 10px;
  text-align: center;
  font-family: 'baufra';
  font-size: 16px;
  line-height: 50px;
  border: 1px solid #8b8b9f;
  a{
    padding: 0 3%;
  }
}
/*--------------END HEADER-----------------*/

/*--------------footer-----------------*/
.footer{
  min-width: 800px;
  min-height: 330px;
  color: #8b8b9f;
  background-color: #EFEFF4;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer_container__title{
  margin-top: 30px;
  font-family: 'baufra';
  color:  #13131c;
  font-size: 25px;
  line-height: 30px;
}

.footer_container__underline{
  background-color: #a6a5ad;
  width: 300px;
  height: 1px;
  margin: 15px auto;
}

.footer_container__contacts{
  margin-bottom: 10px;
  .footer_container__contacts__left{
    display: inline-block;
    text-align: right;
    margin-right: 10px;
  }
  .footer_container__contacts__right{
    display: inline-block;
    text-align: left;
    margin-left: 10px;
  }
  .footer_phone{
    font-family: 'baufra';
    color:  #13131c;
    font-size: 25px;
    line-height: 40px;
  }
  .footer_address{
    font-family: 'Open Sans';
    color:  #5f5d5d;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-top: -6px;
  }
}

.footer_container__fitting_button{
  margin: 30px 0;
  a{
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'baufra';
    color:  #7c7c8a;
    font-size: 23.4px;
    border: 1px solid #7c7c8a;
    line-height: 50px;
    &:hover{
      color:  #13131c;
      border: 1px solid #13131c;
    }
  }
}

.footer_container__social_links{
  font-family: 'Oldsman';
  height: 70px;
  line-height: 70px;
  background-color: white;
  a{
    padding: 2%;
    color:  #13131c;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
  }
}
/*--------------END footer-----------------*/

/*--------------poopup---------------------*/
.popup_container{
  display: none;
}
.popup_container{
  width:100%;
  min-height:100%;
  background-color: rgba(0, 0, 0, 0.50);
  overflow:hidden;
  position:absolute;
  top:0px;
  a.close_popup_button{
    float: right;
    padding: 0 5px;
    font-size: 17px;
    text-decoration: none;
    color: #8b8b9f;
  }
}
.popup_container .popup{
  margin:40px auto 0px auto;
  width: 590px;
  padding:10px;
  background-color: #f5f5f7;
  box-shadow: 0px 0px 10px #000;
}
/*--------------END poopup---------------------*/

/*-------------- general styles ---------------*/
.custom_checkbox{
  display: none;
}

.custom_checkbox + label{
  cursor: pointer;
  margin-top: 9px;
}

.custom_checkbox + label::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  background: image_url('checkbox_styles.png') no-repeat;
  background-position: -1px 0;
  background-size: 130px;
}

.custom_checkbox:checked + label::before {
  background-position: -36px 0;
}
/*-------------- end general styles ---------------*/
