/*-----------------new bride popup-----------------------*/
.new_bride_popup{
  width: 340px;
  margin: 50px auto 40px;
}
.new_bride_popup__title{
  font-family: 'baufra_light';
  color:  #13131c;
  font-size: 42px;
  font-weight: bold;
  line-height: 55px;
  text-align: center;
  margin-bottom: 20px;
}
.white_with_underline{
  background-color: #f5f5f7 !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #babac7 !important;
  width: 340px !important;
  margin: 17px 0;
  font-family: 'baufra_light' !important;
  font-size: 20px !important;
  font-weight: bold !important;
  line-height: 35px;
}
a.submit_button{
  margin: 10px auto;
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid #babac7;
  padding: 10px 0;
  color:  #babac7;
  text-decoration: none;
  font-size: 22px;
  &:hover{
    color: #8b8b9f;
    border-color: #8b8b9f;
  }
}
.new_bride_popup__error{
  color: red;
}
.bride_picture__left{
  float: left;
  a{
    overflow: hidden;
    display: block;
    border: 1px dashed #c7aea2;
    width: 123px;
    height: 167px;
    text-decoration: none;
    .circle_with_plus{
      border-radius: 50%;
      border: 1px solid #c7aea2;
      margin: 47px auto;
      text-align: center;
      line-height: 67px;
      width: 67px;
      height: 67px;
      font-size: 55px;
      color: #c7aea2;
    }
  }
}
.bride_picture__right{
  margin-left: 137px;
  font-family: 'opensans';
  color:  #8b8b9f;
  font-size: 14px;
  line-height: 20px;
}
.bride_picture__input{
  display: none;
}
/*-----------------end new bride popup-----------------------*/
