.dress_item.dresses_info_block
  .dresses_info_block__title
    ВЕЧЕРНИЕ ПЛАТЬЯ
  .dresses_info_block__underline
  .dresses_info_block__description
    Помимо свадьбы в жизни девушки много прекрасных и значимых моментов, и для каждого хочется создать безукоризненный и гармоничный образ. Впишите в сценарий вечернее платье от Topaza Pella, и у события появятся все шансы стать осуществившейся мечтой.
