.dress_item.dress_info
  = image_tag asset_path('bridal_info_1.jpg')
  .dress_info__bridal1
    .dress_info__title.dresses_info_block__title
      Свадебные платья
    .dress_info__underline.dresses_info_block__underline
    .dress_info__text.dresses_info_block__description
      Каждое платье Topaza Pella — созданный вручную неповторимый образец искусства свадебной моды. И пусть ему суждено украсить только один день — это будет день, с которого начнётся ваша новая жизнь.
