.dress_item.dresses_info_block
  .dresses_info_block__title
    СВАДЕБНЫЕ ПЛАТЬЯ
  .dresses_info_block__underline
  .dresses_info_block__description
    Каждое платье Topaza Pella - созданный в ручную неповторимый образец искусства свадебной моды. И пусть ему суждено украсить только один день - это будет день, с которого начнется ваша новая жизнь.
