.dress_item.dresses_info_block.info_block__rose
  .dresses_info_block__title
    Свадебные платья
  .dresses_info_block__underline
  .dresses_info_block__description
    Каждое платье Topaza Pella — созданный вручную неповторимый образец искусства свадебной моды. И пусть ему суждено украсить только один день — это будет день, с которого начнётся ваша новая жизнь.
