.dress_item.dresses_info_block.info_block__gem
  .dresses_info_block__title
    Другой взгляд на свадебное платье
  .dresses_info_block__underline
  .dresses_info_block__description
    Платья Topaza Pella оригинальные, порой смелые и сексуальные, но уж точно не вычурные или вульгарные. В чём-то традиционные, но избавленные от ритуальности.
