.dress_item.dress_info
  = image_tag asset_path('bridal_info_2.jpg')
  .dress_info__bridal2
    .dress_info__title.dresses_info_block__title
      На разные случаи — неслучайные платья
    .dress_info__underline.dresses_info_block__underline
    .dress_info__text.dresses_info_block__description
      Чистота и торжественность платья для выпускного бала не имеет ничего общего с блеском новогоднего платья или с интригующей сексуальностью наряда для вечернего rendez-vous. В Topaza Pella мы всегда подбираем модели, подобающие случаю.
