.dress_item.dresses_info_block.info_block__gem
  .dresses_info_block__title
    Это другой взгляд на свадебное платье
  .dresses_info_block__underline
  .dresses_info_block__description
    Взгляд, в котором есть время,
    есть традиция, но нет ни капли ритуальности.
    Это спокойная интеллигентность,
    умело соединенная с любовью к совершенству.
