.dress_item.dress_info
  = image_tag asset_path('bridal_info_2.jpg')
  .dress_info__bridal2
    .dress_info__title.dresses_info_block__title
      Это другой взгляд на свадебное платье
    .dress_info__underline.dresses_info_block__underline
    .dress_info__text.dresses_info_block__description
      Взгляд, в котором есть время,
      есть традиция, но нет ни капли ритуальности.
      Это спокойная интеллигентность,
      умело соединенная с любовью к совершенству.
