.dress_item.dresses_info_block
  .dresses_info_block__title
    ПЛАТЬЕ НА РАЗНЫЙ СЛУЧАЙ
  .dresses_info_block__underline
  .dresses_info_block__description
    Чистота и торжественность платья для выпускного бала не имеет ничего общего с блеском новогоднего платья или с интригующей сексуальностью наряда для вечернего rendez-vous. В Topaza Pella мы всегда подбираем модели, подобающие случаю.
