.dress_item.dresses_info_block.info_block__silk.dream_block
  .dresses_info_block__title
    КРАСОТА С ДОСТАВКОЙ НА ДОМ
  .dresses_info_block__underline
  .dresses_info_block__description
    Некоторый из вечерних платьев Topaza Pella доступны в нашем новом интернет-магазине. Вы можете заказать понравившуюся модель по сниженной цене в любой город, даже за пределами России.
