.dress_item.dress_info
  = image_tag asset_path('bridal_info_3.jpg')
  .dress_info__bridal3
    .dress_info__title.dresses_info_block__title
      Мечты должны сбываться
    .dress_info__underline.dresses_info_block__underline
    .dress_info__text.dresses_info_block__description
      Теперь купить свадебное платье можно не только в петербургской студии Topaza Pella. Мы открыли новый интернет-магазин, где вы сможете заказать платье, которое привезут к вам домой.
