.dress_item.dresses_info_block
  .dresses_info_block__title
    МЕЧТЫ ДОЛЖНЫ СБЫВАТЬСЯ
  .dresses_info_block__underline
  .dresses_info_block__description
    Теперь купить свадебное наше платье можно не только в петербургской студии Topaza Pella. Мы открыли новый интернет-магазин. где вы сможете заказать платье, которое привезут к вам домой.
