.footer_contacts
  .footer_container__title
    АДРЕС В САНКТ-ПЕТЕРБУРГЕ
  .footer_container__underline
  .footer_container__contacts
    .footer_container__contacts__left
      .footer_phone
        +7(921)905-75-14
      .footer_address
        Владимирский пр., д.19
  .footer_container__fitting_button
    %a{ href: new_fitting_path } ЗАПИСАТЬСЯ НА ПРИМЕРКУ
