.footer_container
  .footer_container__social_links
    %a{href: 'http://vk.com/topazapella'} ВКОНТАКТЕ
    %a{href: 'https://www.facebook.com/topazapellacouture'} FACEBOOK
    %a{href: 'http://instagram.com/topaza_pella.ru'} INSTAGRAM
    %a{href: 'http://ok.ru/group/53116532621566'} ОДНОКЛАССНИКИ

:javascript
  (function (d, w, c) {
  (w[c] = w[c] || []).push(function() {
  try {
  w.yaCounter9540880 = new Ya.Metrika({id:9540880,
  webvisor:true,
  clickmap:true,
  trackLinks:true,
  accurateTrackBounce:true});
  } catch(e) { }
  });

  var n = d.getElementsByTagName("script")[0],
  s = d.createElement("script"),
  f = function () { n.parentNode.insertBefore(s, n); };
  s.type = "text/javascript";
  s.async = true;
  s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

  if (w.opera == "[object Opera]") {
  d.addEventListener("DOMContentLoaded", f, false);
  } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
%noscript
  %div
    %img{:alt => "", :src => "//mc.yandex.ru/watch/9540880", :style => "position:absolute; left:-9999px;"}

