.footer_container
  .footer_container__title
    ПЕТЕРБУРГСКИЕ АДРЕСА
  .footer_container__underline
  .footer_container__contacts
    .footer_container__contacts__left
      .footer_phone
        8 (812) 272-55-84
      .footer_address
        ул. Белинского, д.1
    .footer_container__contacts__right
      .footer_phone
        8 (812) 517-83-84
      .footer_address
        ул. Руднева, д.22/1
  .footer_container__fitting_button
    %a{ href: new_fitting_path } ЗАПИСАТЬСЯ НА ПРИМЕРКУ
  .footer_container__social_links
    %a ВКОНТАКТЕ
    %a FACEBOOK
    %a INSTAGRAM
    %a TWITTER
