.footer_contacts
  .footer_container__title
    АДРЕСА В САНКТ-ПЕТЕРБУРГЕ
  .footer_container__underline
  .footer_container__contacts
    .footer_container__contacts__left
      .footer_phone
        8 (812) 272-55-84
      .footer_address
        ул. Жуковского, д.22
    .footer_container__contacts__right
      .footer_phone
        8 (812) 974-38-74
      .footer_address
        ул. Руднева, д.22/1
  .footer_container__fitting_button
    %a{ href: new_fitting_path } ЗАПИСАТЬСЯ НА ПРИМЕРКУ
