.footer_container
  .footer_container__social_links
    %a{href: 'http://vk.com/topazapella'} ВКОНТАКТЕ
    %a{href: 'https://www.facebook.com/topazapellacouture'} FACEBOOK
    %a{href: 'http://instagram.com/topazapella_official'} INSTAGRAM
    %a{href: 'http://ok.ru/group/53116532621566'} ОДНОКЛАССНИКИ
