.header_container
  .header_container__shop_link.header_link
    %a ОНЛАЙН-МАГАЗИН
  .header_container__fitting.header_link
    %a ЗАПИСЬ НА ПРИМЕРКУ
  .header_container__title
    TOPAZA PELLA
  .header_container__menu
    %a СВАДЕБНЫЕ
    %a ВЕЧЕРНИЕ
    %a ИСТОРИЯ
    %a ПУБЛИКАЦИИ
    %a{href: brides_path} НЕВЕСТЫ
    %a СКИДКИ
    %a КОНТАКТЫ
